<div class="container-fluid">
    <div class="my-5">
        <h2>{{ currentDoctor?.lastName | uppercase }} {{ currentDoctor?.firstName }}</h2>
        <table class="table">
            <thead>
                <tr class="row d-flex">
                    <th class="col">Doctor ID</th>
                    <th class="col">Status</th>
                    <th class="col">Gender</th>
                    <th class="col">Effective Date</th>
                    <th class="col">Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row d-flex">
                    <th class="col">{{ currentDoctor?.id }}</th>
                    <td class="col">{{ currentDoctor?.status }}</td>
                    <td class="col">{{ currentDoctor?.gender }}</td>
                    <td class="col">{{ currentDoctor?.effective_date }}</td>
                    <td class="col">{{ currentDoctor?.expiry_date }}</td>
                </tr>
            </tbody>
            <thead>
                <tr class="mt-4 row d-flex">
                    <th class="col">Email</th>
                    <th class="col">Phone</th>
                    <th class="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row d-flex">
                    <td class="col">{{ currentDoctor?.email }}</td>
                    <td class="col">{{ currentDoctor?.phone }}</td>
                    <td class="col">{{ currentDoctor?.address }}</td>
                </tr>
            </tbody>
        </table>
        <button mat-button class="update-btn" [routerLink]="['/home/doctor/update/' + currentDoctor?.id]">Update
            Doctor</button>
    </div>

    <h3>Clinic Details</h3>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ clinic?.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ clinic?.address }}</h6>
            <p class="card-text">{{ clinic?.description }}</p>
            <a [routerLink]="'/home/clinic/' + clinic?.id" class="card-link">Clinic details</a>
        </div>
    </div>
</div>