<div class="container">
    <form [formGroup]="doctorForm" (ngSubmit)="submitForm()">
        <div>
            <mat-form-field class="min-width">
                <mat-label>First Name</mat-label>
                <input required matInput formControlName="firstName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="min-width">
                <mat-label>Last Name</mat-label>
                <input required matInput formControlName="lastName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Status</mat-label>
                <input required formControlName="status" matInput placeholder="Status of doctor, etc.">
            </mat-form-field>
        </div>
        <div>
            <mat-label>Contact Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Email">
                    Email
                </mat-option>
                <mat-option value="Phone">
                    Phone
                </mat-option>
            </mat-select>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Contact Email</mat-label>
                <input required formControlName="email" matInput placeholder="Ex. JohnSmith@manulife.com">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Contact Phone</mat-label>
                <input required formControlName="phone" matInput placeholder="">
            </mat-form-field>
        </div>
        <button class="add-doctor-btn" mat-button type="submit">Submit</button>
    </form>
</div>