<mat-toolbar class="header d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <img src="assets/logos/manulife-logo.svg" (click)="sidenavToggle()">
        <div class="ml-4 title" routerLink="/home">Manulife 宏利</div>
    </div>
    <div class="mr-4 d-flex">
        <button (click)="logout()" class="logout mr-3">Log out</button>
        <div class="d-flex">
            <button class="user-account-btn">
                {{ user?.given_name
                }}
                test
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container class="container-fluid">
    <mat-sidenav class="sidenav" mode="side" [(opened)]="opened" fixedInViewport="true" fixedTopGap="60">
        <div *ngFor="let category of categories">
            <div class="sidebar-rectangle">
                <a [routerLink]="category.url">{{category.name}}</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="home-background" *ngIf="route.children.length === 0">
            <h1 class="p-5">Hello, {{ firstname }}</h1>
        </div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>