<div class="container-fluid">
    <h2> {{ currentPackage?.name }} </h2>
    <table class="table">
        <thead>
            <tr class="row d-flex">
                <th class="col">Package ID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row d-flex">
                <th class="col">{{ currentPackage?.id }}</th>
            </tr>
        </tbody>
    </table>

    <div>
        <h4 style="font-weight: 300;">Package clinics & doctors</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Clinic ID</th>
                    <th>Clinic Name</th>
                    <th>Doctor ID</th>
                    <th>Available Doctor</th>
                    <th>Effective Date</th>
                    <th>Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row" *ngFor="let clinic of availableClinics; let i = index">
                    <td>{{ clinic?.id }}</td>
                    <td>{{ clinic?.name }}</td>
                    <td>{{ availableDoctors[i]?.id }}</td>
                    <td>{{ availableDoctors[i]?.firstName }} {{ availableDoctors[i]?.lastName }}</td>
                    <td>04-12-2020</td>
                    <td>04-11-2022</td>
                </tr>
            </tbody>
        </table>
        <form (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="search-form">
                    <input class="full-width" type="text" placeholder="Search by clinic name or doctor"
                        aria-label="Number" matInput [formControl]="clinicSearchForm" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let selectedClinic of filteredClinic | async" [value]="selectedClinic.name">
                            {{selectedClinic.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <button type="submit" mat-button class="update-btn">Add</button>
        </form>
    </div>

    <div class="my-5">
        <h4><span style="font-weight: 300;">Service Provider for</span> {{ currentPackage?.name }}</h4>
        <table class="table">
            <thead>
                <tr class="row d-flex">
                    <th class="col-4">Service Provider ID</th>
                    <th class="col-5">Service Provider Name</th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row d-flex">
                    <th class="col-4">{{ currentProvider?.id }}</th>
                    <td class="col-5">{{ currentProvider?.name }}</td>
                    <td class="col-3">
                        <button mat-button class="details-btn mr-2"
                            [routerLink]="'/home/service-provider/' + currentProvider?.id">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>