<div class="container-fluid">
  <div class="row footer-section">
    <div class="col-lg-6">
      <div>
        <a href="" class="mr-5">Terms of Use</a>
        <a href="">Privacy Policy</a>
      </div>
    </div>
    <div class="col-lg-6">
      <a href="">Global Site</a>
    </div>
  </div>
  <div class="footer-section row">
    <div class="col-lg-3">
      <h4>What's new</h4>
      <p>Results and reports</p>
      <p>Shareholder services</p>
      <p>Career Opporunities</p>
      <p>Investor relations</p>
    </div>
    <div class="col-lg-3">
      <h4>Quick Links</h4>
      <p>Privacy policy</p>
      <p>Legal</p>
      <p>Real Estate</p>
      <p>Investments</p>
    </div>
    <div class="col-lg-3">
      <h4>Enterprise</h4>
      <p>Healthcare</p>
      <p>Government</p>
      <p>Retail</p>
      <p>Banking</p>
    </div>
    <div class="col-lg-3">
      <h4>Company</h4>
      <p>Manulife Re</p>
      <p>Fraud prevention centre</p>
      <p>About</p>
      <p>Contact</p>
    </div>
  </div>
  <div class="footer-section">
    © 2002-2020 Manulife (International) Limited (Incorporated in Bermuda with limited liability)
  </div>

</div>