@import "src/styles-variables.scss";

.container-fluid {
  width: 100%;
  padding: 0;
  font-size: 0.9rem;
  background-color: $manulife-dark;
  color: $faded-white;
  .row {
    margin: 0;
  }
  a {
    color: $white;
  }
}

.footer-section {
  padding: 30px;
  width: 100%;
}

.footer-section + .footer-section {
  border-top: 1px rgba(0, 0, 0, 0.658) solid;
}