<ng-container *ngIf="route.children.length === 0">
    <div class="container">
        <h1>Clinics</h1>
        <button class="add-btn" mat-button routerLink="create">Add clinic</button>
        <div>
            <mat-form-field class="search-field">
                <input matInput type="text" placeholder="Search clinic by name or ID" [(ngModel)]="searchName"
                    (input)="filter()" />
                <button mat-button *ngIf="searchName" matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Clinic Name</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row" *ngFor="let clinic of clinics">
                    <td>{{clinic.id}}</td>
                    <td>{{clinic.name | uppercase}}</td>
                    <td>
                        <button mat-button [routerLink]="[clinic.id]">Details</button>
                        <button mat-button [routerLink]="['update/' + clinic.id]">Update</button>
                        <button mat-button (click)="delete(clinic.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
<router-outlet></router-outlet>