// core colors
$manulife-green: #06874e;
$manulife-pink: #ec6453;
$manulife-dark-pink: #dc5a44; 

// text & background
$manulife-grey: #5e6073;
$manulife-dark: #282b3e;
$white: #fff;
$faded-white: #fafafa;

// content
$manulife-bright-green: #00a758;
$manulife-blue: #0000c1;
$manulife-purple: #361558;
$manulife-brown: #af640f;
$manulife-turquoise: #0b9189;
$divider: #ededed