<div class="container-fluid">

    <h3>{{ currentSP?.name }}</h3>
    <table class="table">
        <thead>
            <tr class="row d-flex">
                <th class="col">Service Provider ID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row d-flex">
                <th class="col">{{ currentSP?.id }}</th>
            </tr>
        </tbody>
        <thead>
            <tr class="mt-4 row d-flex">
                <th class="col">Effective Date</th>
                <th class="col">Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row d-flex">
                <td class="col">{{ currentSP?.effective_date }}</td>
                <td class="col">{{ currentSP?.expiry_date }}</td>
            </tr>
        </tbody>
    </table>
    <button mat-button class="update-btn" [routerLink]="['service-provider/update/' + currentSP?.id]">Update Service
        Provider</button>

    <h3>Service Provider Packages</h3>
    <div class="d-flex">
        <div class="card mr-2" style="width: 18rem;" *ngFor="let package of packages">
            <div class="card-body">
                <h5 class="card-title">{{ package.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Package ID: {{ package.id }}</h6>
                <a href="#" [routerLink]="'/home/sp-package/' + package.id">Package Details</a>
            </div>
        </div>
    </div>
</div>